<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Category</title>

<!-- <link rel="stylesheet" th:href="@{/resources/bootstrap/css/bootstrap-theme.css}"> -->
<!-- <link rel="stylesheet" th:href="@{/resources/bootstrap/css/bootstrap-theme.min.css}"> -->
<!-- <link rel="stylesheet" th:href="@{/resources/bootstrap/css/bootstrap.css}"> -->
<!-- <link rel="stylesheet" th:href="@{/resources/bootstrap/css/bootstrap.min.css}"> -->


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>

</head>


<body>


<div class="col-md-6 col-md-offset-2">
	
	<h1>Categories</h1>
	
	
	<table class="table table-striped">
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Created Date</th>
			<th>Articles</th>
			<th>Status</th>
			<th>Action</th>
		</tr>
		<tr th:each="cate : ${categories}">
			<td th:text="${cateStat.index}+1"></td>
			<td th:text="${cate.name}"></td>
			<td th:text="${#dates.format(cate.createdDate , 'dd-MM-yyyy' )}"></td>
			<td th:text="${cate.countArticle}"></td>
			<td th:text="${cate.status}"></td>
			<td>
				<a th:href="@{#view}" data-toggle="modal" data-target="#categoryDetailModal"> <i class="fa fa-eye"></i> </a>
				<a th:href="@{#edit}" data-toggle="modal" data-target="#categoryEditModal"> <i class="fa fa-pencil-square-o"></i></a>
				<a th:href="@{#delete}"><i class="fa fa-trash-o"></i></a>
			</td>
		</tr>
	</table>
	
	
</div>


<!-- Modal -->

<!-- Category Detail -->
<div class="modal fade" id="categoryDetailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Category Detail</h4>
      </div>
      <div class="modal-body">
        
        
        <h3>Category Name: </h3>
        <h3>Created Date: </h3>
        <h3>Articles: </h3>
        <h3>Status: </h3>
        
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- <script th:src="@{/resources/bootstrap/js/bootstrap.js}"></script> -->
<!-- <script th:src="@{/resources/bootstrap/js/bootstrap.min.js}"></script> -->

<script type="text/javascript">
	$('#myModal').modal('hide')
</script>

</body>
</html>