<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link th:href="@{/resources/style.css}" th:rel="stylesheet"/>

</head>
<body>

<h1 class="header">Thymeleaf</h1>

<ul>
    <li><a th:href="@{/home}">Home</a></li>
    <li><a th:href="@{/article}">Article</a></li>
    <li><a th:href="@{/article/9ed8dd14-9cf1-40e0-a108-da80184ae1ad}">Article Detail</a></li>

    <li><a th:href="@{/admin}">Admin Dashboard</a></li>



</ul>




</body>
</html>